.nav_container {
    background: url(../images/header_block_bg.png) left top repeat-x;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

#nav {
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 11px 5px;
}

#nav li {
    margin: 0px 0px 6px 0px;
    padding: 0px 0px 0px 0px;
    list-style-type: none;
    color: #FFFFFF;
    float: left;
}

#nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.16em;
    padding-right: 5px;
    padding-left: 25px;
    background: url(../images/bullet_menu.png) left -6px no-repeat;
}

ul {
    list-style-type: none;
}

p {
    font-size: 11px;
}

label {
    font-size: 11px;
}

h2 {
    font-size: 11px;
    font-weight: bold;
    line-height: 1.34;
    margin-bottom: 5px;
    color: #929292;
}

.block-title {
    padding: 5px 10px 4px;
    /*border-bottom:                          1px solid #D8D8D8;*/
    background: url(../images/sideblock_title_bg.jpg) left top repeat-x #1C2BCB;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    color: #FFFFFF;
    font-size: 1.16em;
}
.block-content {
    background-color: #FFFFFF;
    padding: 5px 5px 5px 5px;
}

.header-block-2 {  /*#58585A*/
    background-color: #467039;
    padding: 10px 0px 10px;
    color: #fff;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}
.links li {
    display: inline;
}
.links {
    float: right;
}
.links li {
    padding-left: 10px;
}
.links li a {
    white-space: nowrap;
    color: #969292;
    text-decoration: none;
}
.links li a:hover {
    color: #fff;
    text-decoration: none;
}
.links {
    text-align: right;
    margin: 0px 10px 0px 0px;
}
.links a {
    text-decoration: none;
    position: relative;
}
.links a:hover {
    text-decoration: underline;
}
.welcome-msg {
    float: left;
    margin: 0px 0px 0px 10px;
}

#categorias {
    margin: 0px;
    padding: 0px;
}
#categorias li {
    list-style-type: none;
    margin: 0px;
    padding: 3px 0px 3px 0px;
    border-bottom: 1px solid #E0E0E0;
}
#categorias li a {
    float: none;
    padding: 4px 0 5px 18px;
    font-weight: normal;
    color: #383838;
    background: url(../images/bullet_categorias.png) left 3px no-repeat;
    line-height: normal;
    font-size: 12px;
    text-decoration: none;
}
#categorias li a:hover {
    color: #25A230;
}

#menu_panel_control {
    margin: 0px;
    padding: 0px;
}
#menu_panel_control li {
    list-style-type: none;
    margin: 0px;
    padding: 3px 0px 3px 0px;
    border-bottom: 1px solid #E0E0E0;
}
#menu_panel_control li a {
    float: none;
    padding: 4px 0 5px 18px;
    font-weight: normal;
    color: #383838;
    background: url(../images/bullet_categorias.png) left 3px no-repeat;
    line-height: normal;
    font-size: 12px;
    text-decoration: none;
}
#menu_panel_control li a:hover {
    color: #25A230;
}

.li-flotante {
    width: 50%;
    float: left;
}

div.form label {
    font-weight: bold;
    font-size: 11px;
    display: block;
}
div.form input[type="text"] {
    border: 1px solid #6C7170;
    border-right-color: #D2CFCA;
    border-bottom-color: #D2CFCA;
    padding: 3px;
}
div.form label.error {
    color: #C00;
}
div.form input.error {
    background: #FEE;
    border-color: #C00;
}
div.form .errorMessage {
    color: red;
    font-size: 0.9em;
}
div.form .required {
}

.required span{
    color: red;
}

.producto {
    width: 135px;
    /*border: 1px solid red;*/
    float: left;
    text-align: center;
}
.producto .imglista {
    width: 120px;
    height: 120px;
    margin: 6px 0px 0px 0px;
    border: 2px solid #CCCCCC;
}
.producto .nombre {
    color: #58585A;
    text-align: left;
    margin: 0px 0px 0px 6px;
}
.producto .precio-anterior {
    color: #aaaaaa;
    text-align: left;
    margin: 0px 0px 0px 6px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: line-through;
}
.producto .precio {
    color: #201E53;
    text-align: left;
    margin: 0px 0px 0px 6px;
    font-weight: bold;
    font-size: 18px;
}
.producto .precio-antes-texto {
    text-align: left;
    margin: 0px 0px 0px 6px;
    text-transform: uppercase;
    font-weight: bold;
}
.producto .precio-ahora-texto {
    text-align: left;
    margin: 0px 0px 0px 6px;
    text-transform: uppercase;
    font-weight: bold;
}

/* button */
a.button {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    background: url('../images/button.png') 0 top repeat-x;
    font-size:11px;
    text-transform:uppercase;
    line-height:18px;
    white-space:nowrap;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
a.button {
    color: #fff;
    display: inline-block;
    padding:3px 6px;
    background: url('../images/button.png') 0 bottom repeat-x;
}
a.button:hover {
    color: #fff;
    background: url('../images/button.png') 0 top repeat-x;
}
/*****************/
input[type="submit"] {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    background: url('../images/button.png') 0 top repeat-x;
    font-size:11px;
    text-transform:uppercase;
    line-height:18px;
    white-space:nowrap;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
input[type="submit"] {
    color: #fff;
    display: inline-block;
    padding:3px 6px;
    background: url('../images/button.png') 0 bottom repeat-x;
}
input[type="submit"]:hover {
    color: #fff;
    background: url('../images/button.png') 0 top repeat-x;
}
/*****************/

#grid_productos_carro {
    width: 870px;
    margin: 0 auto;
    border: 1px solid #CCCCCC;
}
#grid_productos_carro th {
    background-color: #F1F1F1;
    color: black;
    text-transform: uppercase;
    text-align: center;
    padding: 6px;
    font: 10px Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 1px solid #CCCCCC;
}
#grid_productos_carro td {
    text-align: left;
    padding: 6px;
    font: 12px Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 1px solid #CCCCCC;
    text-align: center;
}
#grid_productos_carro .imagen {
    width: 100px;
}
#grid_productos_carro .nombre {
    width: 380px;
}
#grid_productos_carro .precio_unitario {
    width: 120px;
}
#grid_productos_carro .cantidad {
    width: 100px;
}
#grid_productos_carro .subtotal {
    width: 120px;
}
#grid_productos_carro .eliminar {
    width: 50px;
}
#grid_productos_carro .imagen_p {
    text-align: center;
}
#grid_productos_carro .imagen_p img {
    width: 80px;
    height: 80px;
    border: 1px solid #DDDDDD;
}
#grid_productos_carro input[type="text"] {
    width: 40px;
}

#total_compra {
    width: 870px;
    margin: 0 auto;
}
#total_compra li {
    float: left;
}
#total_compra .relacionados {
    width: 290px;
}
#total_compra .cupondireccion {
    width: 290px;
}
#total_compra .total_compra {
    width: 290px;
    text-align: right;
}
#total_compra .precio_total_compra {
    width: 280px;
    margin: 10px 0px 0px 0px;
    padding: 4px;
    background-color: #F1F1F1;
    text-align: right;
    border: 1px solid #CCCCCC;
}
#total_compra .contenedor_precio_total_compra td {
    padding: 10px;
}
#total_compra .txt_precio_total {
    font-size: 20px;
    font-weight: bold;
}

.success { color:#3d6611; font-weight:bold; }
.error { color:#f00; font-weight:bold; }
.notice { color:#ccc; }

.messages,
.messages ul { list-style:none !important; margin:0 !important; padding:0 !important; }
.messages { width:100%; overflow:hidden; }
.messages li { margin:0 0 10px; }
.messages li li { margin:0 0 3px; }
.error-msg,
.success-msg,
.note-msg,
.notice-msg { border-style:solid !important; border-width:1px !important; background-position:10px 9px !important; background-repeat:no-repeat !important; min-height:24px !important; padding:8px 8px 8px 32px !important; font-size:11px !important; font-weight:bold !important; }
.error-msg { border-color:#f16048; background-color:#faebe7; background-image:url(../images/i_msg-error.gif); color:#df280a; }
.success-msg { border-color:#446423; background-color:#eff5ea; background-image:url(../images/i_msg-success.gif); color:#3d6611; }
.note-msg,
.notice-msg { border-color:#fcd344; background-color:#fafaec; background-image:url(../images/i_msg-note.gif); color:#3d6611; }

.form-login-cliente {

}
.form-login-cliente .label {
    width: 30%;
}
.form-login-cliente .valor {
    width: 70%;
}

.fieldset {
    border: 1px solid #ddd;
    background: #fefefe;
    padding: 22px 25px 12px 25px;
    margin: 28px 0;
}
.fieldset .legend {
    float: left;
    font-weight: bold;
    font-size: 13px;
    border: 1px solid #DDDDDD;
    background: #f6f6f6;
    color: #333;
    margin: -33px 0 0 -10px;
    padding: 0 8px;
    position: relative;
}

.grid-direcciones {
    width: 650px;
    margin: 0 auto;
}
.grid-direcciones th {
    background-color: #F1F1F1;
    color: black;
    text-transform: uppercase;
    text-align: center;
    padding: 6px;
    font: 10px Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 1px solid #CCCCCC;
}
.grid-direcciones td {
    background-color: #FFFFFF;
    color: black;
    text-transform: uppercase;
    text-align: left;
    padding: 6px;
    font: 10px Arial, Helvetica, sans-serif;
    border: 1px solid #CCCCCC;
}

.footer-block-2 {
    background: url(../images/footer_block_2_bg_pie.jpg) left top repeat-x #343434;
    padding: 9px 15px 8px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}
address {
    font-style: normal;
}

.box-carro {
    width: 180px;
}
.box-carro td, th {
    font-size: 11px;
}
.box-carro .imagen {
    height: 50px;
    border: 1px solid #cccccc;
    width: 50px;
}
.box-carro .imagen-producto {
    width: 50px;
    padding: 4px 0px 5px 0px;
}
.box-carro .nombre-producto {
    padding-left: 5px;
    width: 100px;
    font-size: 11px;
}
.box-carro .botones-productos{
    padding-bottom: 10px;
    width: 30px;
}
.box-carro .producto-precio {
    font-weight: bold;
    color: #201E53;
}
.box-total-carro {
    margin: 10px 0px 10px 0px;
    background-color: #f0f0f0;
    border: 1px solid #dddddd;
    padding: 3px 10px 3px 10px;
}
.box-total-carro .total {
    font-weight: bold;
    color: #666666;
    font-size: 16px;
}
.caja-carro .texto-precio {
    text-align: center;
    padding: 5px 0px 5px 0px;
    font-size: 11px;
}
.caja-carro .texto-cantidad-productos {
    font-size: 11px;
}
.caja-carro .box-total-carro {
    font-size: 11px;
}